<ion-view view-title="Friday" ng-controller="fridayCtrl" ng-init="initFri()" class="dayView">
    <ion-content scroll="true">
        <div class="blockTitle">
            <button class='control done' data-ng-disabled="!almostOneNotChecked()" data-ng-click="markAllChecked()">
                <i class="icon ion-checkmark"></i>
            </button>
            Breakfast
            <button class="control reset" data-ng-disabled="!checkedCount()>0" data-ng-click="uncheckAllChecked()">
                <i class="icon ion-power"></i>
            </button>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in friday | limitTo: 3" ng-class="{'checkItem-checked': item.isChecked, 'checkedItem-toCheck': !item.isChecked}">
                <input id="friday-{{item.number}}" class="form-control" ng-model="item.isChecked" type="checkbox">
                <label for="friday-{{item.number}}"><span></span></label>
                <span class="checkedName" data-ng-class="{'toCheckLineDone': item.isChecked}" data-ng-bind="item.title"></span>
                </div>
            </ion-item>
        </ion-list>

        <div class="blockTitle">
            Lunch
        </div>
        <ion-list>
            <ion-item ng-repeat="item in friday.slice(3, 6)" ng-class="{'checkItem-checked': item.isChecked, 'checkedItem-toCheck': !item.isChecked}">
                <input id="friday-{{item.number}}" class="form-control" ng-model="item.isDone" type="checkbox">
                <label for="friday-{{item.number}}"><span></span></label>
                <span class="checkedName" data-ng-class="{'toCheckLineDone': item.isChecked}" data-ng-bind="item.title"></span>
                </div>
            </ion-item>
        </ion-list>

        <div class="blockTitle">
            Dinner
        </div>
        <ion-list>
            <ion-item ng-repeat="item in friday.slice(6, 9)" ng-class="{'checkItem-checked': item.isChecked, 'checkedItem-toCheck': !item.isChecked}">
                <input id="friday-{{item.number}}" class="form-control" ng-model="item.isChecked" type="checkbox">
                <label for="friday-{{item.number}}"><span></span></label>
                <span class="checkedName" data-ng-class="{'toCheckLineDone': item.isChecked}" data-ng-bind="item.title"></span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>