<!-- Content -->

<ion-nav-bar>
    <ion-nav-back-button>Back</ion-nav-back-button>
</ion-nav-bar>

<ion-header-bar class="bar bar-header bar-loading bar-dark flash" flash-alert ng-show="flash.message != null">
    <div class="title">{{flash.message}}</div>
</ion-header-bar>

<ion-footer-bar>
    <ion-tabs class="tabs-icon-top tabs-bottom tabs-positive">
        <ion-tab
                title="Mon"
                icon="ion-calendar"
                href="#/monday"
        >
            <ion-nav-view name="monday-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab
                title="Tue"
                icon="ion-calendar"
                href="#/tuesday"
        >
            <ion-nav-view name="tuesday-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab
                title="Wed"
                icon="ion-calendar"
                href="#/wednesday"
        >
            <ion-nav-view name="wednesday-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab
                title="Thu"
                icon="ion-calendar"
                href="#/thursday"
        >
            <ion-nav-view name="thursday-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab
                title="Fri"
                icon="ion-calendar"
                href="#/friday"
        >
            <ion-nav-view name="friday-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-footer-bar>

<ion-nav-view name="appContent"></ion-nav-view>